<div class="mdl-grid">
        <div class="mdl-cell mdl-cell--4-col">
        </div>
        <div class="mdl-cell mdl-cell--4-col">
          <div class="demo-card-wide mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <div class="mdl-card__title-text"><h1><%= @books.name %></h1></div>
            </div>
            <div class="mdl-card__supporting-text">
              <h3> Author's Name: <%= @books.authors_name %></h3>
              <h3>Date Updated:<%= @books.created_at %></h3>
            </div>
            <div class="mdl-card__actions mdl-card--border">
             <a href="/books/list">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                <i class="material-icons">arrow_back</i>
                Back
                </button>
              </a>
              <a href="/books/<%= @books.id %>/edit">
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
                <i class="material-icons">mode_edit</i>
                Edit
                </button>
              </a>
              <form action="/books/<%= @books.id %>" method="post" class="dis-inline">
                <input type="hidden" name="_method" value="delete" />
                <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--accent">
                <i class="material-icons">delete_forever</i>
                Delete
                </button>
              </form>
            </div>
          </div>
        </div>
    <div class="mdl-cell mdl-cell--4-col">
  </div>
</div>